 body {
	font-family: 'Lato', sans-serif;
	color: #888888;
	font-weight: 300;
}

.col-md-4 {
	margin-top: 30px;
}

.head {
	padding-top: 30px;
	padding-bottom: 30px;
}

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 0;
	padding-right: 0;
}

.text-muted {
	color: #C8C8C8;
	margin-top: 20px;
	margin-bottom: 20px;
}

.name-text {
	font-weight: 100;
	font-size: 30px;
}

.portfolio-super {
	font-size: 50px;
	font-weight: bold;
	color: black;
}

hr {
	border-color: black;
	border-style: solid none;
	border-width: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
}

@media only screen and (max-width: 500px) {
	.name-text {
		font-weight: 100;
		font-size: 20px;
	}
}

