 body {
	font-family: 'Lato', sans-serif;
	color: #888888;
	font-weight: 300;
}

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 0;
	padding-right: 0;
}

.text-muted {
	color: #C8C8C8;
}

.text-thin {
	font-weight: 100;
}

.title-supper {
	font-size: 60px;
}

.biopic {
	float: left;
	padding: 3px;
	width: 130px;
	height: 130px;
	border-radius: 50%;
}

hr {
	border-color: #C8C8C8;
	border-style: solid none;
	border-width: 2px;
}

@media only screen and (max-width: 990px) {
	* {
		margin-left: auto;
		margin-right: auto;
	}
	.text-muted {
		text-align: center;
	}
	

}

